/*google foonts*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/*==================*/
/*normalize css https://necolas.github.io/normalize.css/ */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.has__menu--open {
    overflow: hidden;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__center {
    text-align: center;
}

.mt-6 {
    margin-top: 6rem;
}

@media (max-width: 991px) {
    .mt-6 {
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .mt-6 {
        margin-top: 2rem;
    }
}

.mt-5 {
    margin-top: 5rem;
}

.mt-4 {
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .mt-4 {
        margin-top: 2rem;
    }
}

.mt-3 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}

@media (max-width: 991px) {
    .mt-2 {
        margin-top: 1rem;
    }
}

/*main style*/
html {
    font-size: 10px;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: overlay;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a:focus {
    outline: none;
}

/*==============block=============*/
/*container*/
.container {
    max-width: 1340px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .container {
        max-width: 1160px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 740;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 560px;
    }
}

.container-fluid {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

/*main*/
.main {
    padding-top: 9rem;
    position: relative;
}

/*header*/
/*seting style*/
.has__menu--open .header__row {
    transition: border-bottom 0.1s linear;
    border-bottom: 0;
}

.has__menu--open .right__header {
    transition: opacity 0.1s linear, visibility 0.1s linear;
    opacity: 0;
    visibility: hidden;
}

.has__menu--open .search__icon {
    transition: opacity 0.1s linear, visibility 0.1s linear;
    opacity: 0;
    visibility: hidden;
}

/*end seting style*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 55;
    background-color: #ffffff;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    position: relative;
}

.left__header {
    display: flex;
    align-items: center;
    margin-left: -1rem;
}

.burger__btn {
    width: 6rem;
    height: 7rem;
    position: relative;
}

.burger__btn span {
    width: 4rem;
    height: 2px;
    background-color: #212121;
    position: absolute;
    top: calc(50% - 1px);
    left: 1rem;
    transition: background-color 0.1s linear, transform 0.15s linear, width 0.05s linear;
}

.burger__btn span:first-child {
    top: calc(50% - 10px);
}

.burger__btn span:last-child {
    top: calc(50% + 8px);
}

.burger__btn:hover {
    cursor: pointer;
}

.burger__btn:hover span {
    background-color: #E3E3E3;
}

.burger__btn--open span:first-child {
    width: 0;
}

.burger__btn--open span:nth-child(2) {
    transform: rotate(45deg);
}

.burger__btn--open span:nth-child(3) {
    transform: rotate(-45deg);
}

.burger__btn--open span:last-child {
    width: 0;
}

.search__icon {
    width: 6rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.search__icon svg {
    width: 3rem;
    fill: #212121;
    transition: fill 0.15s linear;
}

.search__icon:hover {
    cursor: pointer;
}

.search__icon:hover svg {
    fill: #E3E3E3;
}

.header__search {
    position: absolute;
    width: calc(100% - 12rem);
    height: 7rem;
    left: 12rem;
    top: 0;
    z-index: 50;
    background-color: #ffffff;
    transition: opacity 0.2s linear;
    opacity: 0;
    visibility: hidden;
}

.header__search--show {
    visibility: visible;
    opacity: 1;
}

.header__search--form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search--form input {
    width: 98%;
    height: 3rem;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: #212121;
}

.header__search--form button {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 4rem;
    font-weight: 400;
    color: #E3E3E3;
    transition: color 0.15s linear;
}

.header__search--form button:hover {
    cursor: pointer;
    color: #212121;
}

.center__header {
    display: flex;
    align-items: center;
    height: 7rem;
}

.right__header {
    height: 7rem;
    display: flex;
    align-items: center;
    margin-right: -1rem;
}

.right__header--item {
    width: 6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.right__header--item a {
    text-decoration: none;
}

.right__header--item a svg {
    width: 3rem;
    fill: #212121;
    transition: fill 0.15s linear;
}

.right__header--item:hover {
    cursor: pointer;
}

.right__header--item:hover a svg {
    fill: #E3E3E3;
}

.right__header--counter {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    background-color: #EC5C5D;
    border-radius: 50%;
    text-align: center;
    vertical-align: baseline;
}

._cart a svg {
    width: 3.5rem;
}

/*smNav*/
.sm__nav--row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm__nav--menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.sm__nav--menu li {
    margin-right: 2rem;
    position: relative;
}

.sm__nav--menu li:first-child {
    margin-right: 3rem;
}

.sm__nav--menu li:first-child::before {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 2px);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #212121;
    margin-right: -1rem;
}

.sm__nav--menu li:first-child:hover .menu__cat {
    visibility: visible;
    opacity: 1;
}

.sm__nav--menu li:last-child {
    margin-right: 0;
}

.sm__nav--menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #212121;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s linear, visibility 0.15s linear;
}

.sm__nav--menu li a {
    text-decoration: none;
    color: #212121;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.sm__nav--menu li:hover::after {
    opacity: 1;
    visibility: visible;
}

.sm__nav--menu .menu__cat {
    top: 100%;
    padding: 2rem 0;
    justify-content: flex-start;
    width: 520px;
    z-index: 60;
    padding-left: 2rem;
}

.sm__nav--menu .menu__cat--men {
    margin-right: 7rem;
}

.sm__nav--menu .menu__cat h3 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

.sm__nav--menu .menu__cat ul li:first-child::before {
    display: none;
}

.sm__nav--menu .menu__cat ul li a {
    font-size: 1.4rem;
}

.sm__nav--menu .menu__cat ul li:hover::after {
    opacity: 0;
    visibility: hidden;
}

/*main menu*/
.main__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s linear, visibility 0.1s linear;
}

.main__menu--open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.main__menu--row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main__menu--aside {
    width: 25%;
    position: relative;
}

.main__menu--aside::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #ececec;
}

.main__menu--aside .sm__nav--menu {
    flex-direction: column;
    align-items: flex-start;
}

.main__menu--aside .sm__nav--menu .rotate__el::before {
    transform: rotate(180deg);
}

.main__menu--aside .sm__nav--menu li {
    margin-right: 0;
    margin-bottom: 2rem;
    transition: margin-left 0.2s linear;
}

.main__menu--aside .sm__nav--menu li:first-child::before {
    top: calc(50% - 3px);
    margin-right: -1.5rem;
    border-right: 0;
    border-top: 4px solid transparent;
    border-left: 6px solid #212121;
    border-bottom: 4px solid transparent;
    transition: transform 0.2s linear;
}

.main__menu--aside .sm__nav--menu li:last-child {
    margin-bottom: 0;
}

.main__menu--aside .sm__nav--menu li::after {
    display: none;
}

.main__menu--aside .sm__nav--menu li a {
    font-size: 2.2rem;
}

.main__menu--aside .sm__nav--menu li:hover {
    margin-left: 2rem;
}

.main__menu--info {
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.menu__info {
    padding-left: 2rem;
}

.menu__info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu__info ul li {
    margin-bottom: 2rem;
    transition: margin-left 0.2s linear;
}

.menu__info ul li:last-child {
    margin-bottom: 0;
}

.menu__info ul li:hover {
    margin-left: 2rem;
}

.menu__info ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 700;
    color: #212121;
}

.menu__contact {
    text-align: left;
}

.menu__contact--phone {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.menu__contact--phone a {
    text-decoration: none;
    margin-bottom: 2rem;
    color: #212121;
    font-weight: 700;
    font-size: 2.2rem;
    transition: color 0.2s linear;
}

.menu__contact--phone a:last-child {
    margin-bottom: 0;
}

.menu__contact--phone a:hover {
    color: #E3E3E3;
}

.menu__contact--social {
    display: flex;
}

.menu__contact--social a {
    text-decoration: none;
    margin-right: 2rem;
}

.menu__contact--social a svg {
    width: 3rem;
    height: 3rem;
    fill: #212121;
    transition: fill 0.2s linear;
}

.menu__contact--social a:last-child {
    margin-right: 0;
}

.menu__contact--social a:hover {
    cursor: pointer;
}

.menu__contact--social a:hover svg {
    fill: #E3E3E3;
}

.menu__cat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #ffffff;
    transition: opacity 0.3s linear, visibility 0.3s linear;
    opacity: 0;
    visibility: hidden;
}

.menu__cat--open {
    opacity: 1;
    visibility: visible;
}

.menu__cat h3 {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 700;
    color: #212121;
    margin-bottom: 2rem;
}

.menu__cat ul {
    margin: 0;
    padding: 0;
    list-style-type: "-";
}

.menu__cat--men ul li {
    margin-bottom: 1rem;
    transition: color 0.2s linear;
}

.menu__cat--men ul li:last-child {
    margin-bottom: 0;
}

.menu__cat--men ul li:hover {
    cursor: pointer;
    color: #E3E3E3;
}

.menu__cat--men ul li:hover a {
    color: #E3E3E3;
}

.menu__cat--men ul li a {
    text-decoration: none;
    color: #212121;
    font-size: 1.6rem;
    font-weight: 400;
    transition: color 0.2s linear;
}

.menu__cat--women ul li {
    margin-bottom: 1rem;
    transition: color 0.2s linear;
}

.menu__cat--women ul li:last-child {
    margin-bottom: 0;
}

.menu__cat--women ul li:hover {
    cursor: pointer;
    color: #E3E3E3;
}

.menu__cat--women ul li:hover a {
    color: #E3E3E3;
}

.menu__cat--women ul li a {
    text-decoration: none;
    color: #212121;
    font-size: 1.6rem;
    font-weight: 400;
    transition: color 0.2s linear;
}

/*intro*/
.intro__row {
    width: 100%;
    position: relative;
}

.intro__row--title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    background-color: rgba(227, 227, 227, 0.4);
}

.intro__row--title h1 {
    color: #212121;
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.intro__row--title h2 {
    color: #212121;
    font-size: 4rem;
    font-weight: 700;
}

/*buy*/
.buy__now--row {
    width: 100%;
}

.buy__now--title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.buy__now--title h2 {
    color: #212121;
    font-size: 4rem;
    font-weight: 700;
}

.buy__now--content {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5rem;
}

.buy__card {
    width: 33.33%;
    padding: 1.5rem;
}

.buy__card--link {
    overflow: hidden;
    display: block;
    background: no-repeat center;
    background-size: cover;
    position: relative;
    padding-bottom: 135.135%;
}

.buy__card--link::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: inherit;
    transition: transform 0.3s linear;
}

.buy__card--caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 1.5rem;
    display: flex;
    align-items: flex-end;
    transition: transform 0.3s linear;
}

.buy__card--caption span {
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0 3.6rem;
    height: 4.3rem;
    display: inline-flex;
    align-items: center;
    background: rgba(227, 227, 227, 0.8);
    color: #212121;
}

.buy__card:hover .buy__card--link::after {
    transform: scale(1.1);
}

.buy__card:hover .buy__card--link .buy__card--caption {
    transform: translateX(1rem) translateY(-1rem);
}

/*sales*/
.top__sales--row {
    width: 100%;
}

.top__sales--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.top__sales--content {
    margin: -1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.sales__title h2 {
    font-size: 4rem;
    font-weight: 700;
    color: #212121;
}

.sales__title h2 i {
    margin-left: 0.4rem;
}

.sales__link {
    text-decoration: none;
    color: #212121;
    font-size: 1.8rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.sales__link svg {
    margin-left: 2rem;
    width: 3rem;
    height: 3rem;
    fill: #212121;
    transition: transform 0.2s linear;
}

.sales__link:hover svg {
    transform: translateX(-1rem);
}

.sales__card {
    width: 25%;
    padding: 1.5rem;
    transition: background-color 0.1s linear, box-shadow 0.1s linear;
}

.sales__card--body {
    width: 100%;
    position: relative;
}

.sales__card--link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.sales__card--image {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 30rem;
}

.sales__card--image img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.sales__card--image img:first-child {
    z-index: 2;
}

.sales__card--caption {
    padding: 1rem 0 1rem 0.5rem;
}

.sales__card:hover {
    background-color: #ececec;
    box-shadow: 0px 0px 4px 4px rgba(236, 236, 236, 0.4);
}

.sales__card:hover .sales__card--body .sales__card--image img {
    z-index: 2;
}

.sales__card:hover .sales__card--body .sales__card--image img:first-child {
    z-index: 1;
}

.image__labels {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #f2a965;
    padding: 0.3rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ffffff;
}

.image__labels::after {
    content: "";
    position: absolute;
    z-index: 3;
    right: -1.22rem;
    top: 0;
    border-top: 11px solid transparent;
    border-left: 12px solid #f2a965;
    border-bottom: 11px solid transparent;
}

.image__links {
    display: block;
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 6;
}

.image__links svg {
    height: 100%;
}

.caption__title {
    font-size: 1.6rem;
    font-weight: 400;
    color: #212121;
    margin-bottom: 1rem;
}

.caption__price {
    font-size: 1.6rem;
    font-weight: 400;
    color: #212121;
}

/*reviews*/
.reviews__header {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.reviews__header h2 {
    color: #212121;
    font-size: 4rem;
    font-weight: 700;
}

.reviews__content {
    margin: -1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.reviews__card {
    width: 33.33%;
    padding: 1.5rem;
}

.reviews__card--img {
    display: flex;
    align-items: center;
    border: 1px solid #ececec;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.reviews__card--img img {
    width: 25%;
    margin-right: 1.5rem;
}

.reviews__card--insta {
    margin-bottom: 1rem;
}

.reviews__card--insta a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: #212121;
}

.reviews__card--insta a svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.6rem;
}

.reviews__card--date {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #212121;
    font-weight: 400;
}

.reviews__card--body {
    font-size: 1.6rem;
    color: #212121;
    font-weight: 400;
}

.reviews__button {
    width: 100%;
    text-align: center;
}

.reviews__button--btn {
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    height: 4.3rem;
    color: #212121;
    border: 1px solid #212121;
    font-weight: 700;
    font-size: 1.6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 3rem;
    cursor: pointer;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.reviews__button--btn:hover {
    background-color: #212121;
    color: #ffffff;
}

/*footer*/
.footer {
    background-color: #f2f2f2;
    padding: 4rem 0;
}

.footer__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
}

.footer__contact--phone {
    margin-bottom: 2rem;
}

.footer__contact--phone a {
    font-size: 1.5rem;
    font-weight: 400;
    color: #212121;
    text-decoration: none;
    display: block;
}

.footer__contact--phone a:first-child {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer__contact--social h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #212121;
    font-size: 1.6rem;
}

.social__list {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.social__list a {
    display: block;
    text-decoration: none;
}

.social__list a svg {
    width: 3rem;
    height: 3rem;
    transition: fill 0.2s linear;
}

.social__list a:first-child {
    margin-right: 1rem;
}

.social__list a:hover svg {
    fill: #E3E3E3;
}

.footer__menu {
    width: 55%;
}

.footer__menu .menu__cat {
    position: relative;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
}

.footer__menu .menu__cat h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
}

.footer__menu .menu__cat ul {
    list-style-type: none;
}

.footer__menu .menu__cat ul li {
    transition: transform 0.2s linear;
}

.footer__menu .menu__cat ul li:hover {
    transform: translateX(1rem);
}

.footer__menu .menu__cat ul li:hover a {
    color: #212121;
}

.footer__nav {
    width: 20%;
}

/*============vendor=============*/
/*slick slider*/
.slick-slider {
    position: relative;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slick-slide {
    float: left;
    height: auto;
    min-height: 1px;
}

[dir=rtl] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-slide:focus {
    outline: none;
}

.slick-arrow {
    position: absolute;
    z-index: 5;
    font-size: 0;
    color: transparent;
    border: none;
    background-color: transparent;
}

.slick-arrow:focus {
    outline: none;
}

.slick-prev {
    top: calc(50% - 1.5rem);
    left: 3rem;
    width: 3rem;
    height: 3rem;
    border-top: 2px solid;
    border-left: 2px solid;
    border-color: rgba(33, 33, 33, 0.6);
    transform: rotate(-45deg);
    transition: border-color 0.2s linear;
}

.slick-prev:hover {
    cursor: pointer;
    border-color: #212121;
}

.slick-next {
    top: calc(50% - 1.5rem);
    right: 3rem;
    width: 3rem;
    height: 3rem;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: rgba(33, 33, 33, 0.6);
    transform: rotate(45deg);
    transition: border-color 0.2s linear;
}

.slick-next:hover {
    cursor: pointer;
    border-color: #212121;
}

.intro-dots {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 5;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.intro-dots .slick-active {
    border: 1px solid #212121;
}

.intro-dots li {
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}

.intro-dots li:last-child {
    margin-right: 0;
}

.intro-dots li button {
    font-size: 0;
    color: transparent;
    background-color: transparent;
    border: 0;
    line-height: 0;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #212121;
    line-height: 0;
    padding: 0;
}

.intro-dots li button:focus {
    outline: none;
}

.intro-dots li button:hover {
    cursor: pointer;
}

.intro-dots li:hover {
    cursor: pointer;
}